@import 'animation.scss';

/*FONTS*/

$fraunces: 'Fraunces', serif;
$barlow: 'Barlow', sans-serif;;

/*PRIMARY COLORS*/

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: #222f3f;
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);
$lightCyan: #6fcfff;

/*Neutral*/

$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: #FFF;
$black: #000;

/*MEDIA QUERY*/

$tableWidth: 1024px;
$mobileWidth: 767px;

@mixin tablet {
    @media (max-width: $tableWidth){
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobileWidth){
        @content;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
section a{
    font-family: $fraunces;
}

.container{
    display: flex;
    width: 100%;
    max-width: 1440px;
}

body{
    font-family: $barlow;
}


@mixin col{
    width: 50%;
    align-items: center;
}

@mixin colText{
    padding: 32px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin fiftyBackground{
    background-size: 50% 100%;
    background-repeat: no-repeat;

    @include mobile(){
        background-size: 0;
    }
}

@mixin imgHidden{
    opacity: 0;

    @include mobile(){
        opacity: 1;
    }
}

/*HEADER DESKTOP*/

.headerSection{
    height: 100vh;
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    padding: 32px;
}

header{
    display: flex;
    justify-content: center;

    .container{
        justify-content: space-between;
    }

    ul{
        display: flex;
        align-items: center;

        li:last-child a{
            color: #000;
            font-family: $fraunces;
            display: inline-flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 48px;
            width: 130px;
            background-color: $white;
            border-radius: 16px;
            transition: 0.5s;
            border: 1px solid $white;
        }

        li:last-child a:hover{
            background-color: $lightCyan;
            color: $white;
        }
    }

    li{
        margin-left: 48px;
    }

    a{
        color: #FFF;
    }
}

/*BANNER*/

.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;

    .container{
        justify-content: center;
        padding-top: 64px;
    }

    h1{
        font-size: 48px;
        color: $white;
    }

    .arrowDown{
        animation: arrowFloat 1s infinite alternate ease-in-out;
    }
}

#transform{
    display: flex;
    justify-content: center;

    @include fiftyBackground;
    background-image: url(/images/desktop/image-transform.jpg);
    background-position-x: right;
    padding: 0 32px;
    

    .firstCol{
        @include colText;
        padding-right: 100px;
    }
}

.columnTextTitle{
    color: $darkDesaturatedCyan;
    font-size: 34px;
    line-height: 1.2em;
    margin-bottom: 32px;
}

.hideImage{
    @include imgHidden();
}

.columnsParagraph{
    font-size: 18px;
    color: $grayishBlue;
    font-weight: 300;
}