@import "animation.scss";

/*FONTS*/

$fraunces: "Fraunces", serif;
$barlow: "Barlow", sans-serif;

/*PRIMARY COLORS*/

$softRed: hsl(7, 99%, 70%);
$yellow: #fad300;
$darkDesaturatedCyan: #222f3f;
$darkBlue: #19536b;
$darkModerateCyan: #458c7e;
$lightCyan: #6fcfff;
$servicesTextColor: #245349aa;
$greenBg: #90d4c5;
$greenLinksColor: #4b9081;

/*Neutral*/

$veryDarkDesaturatedBlue: #23303e;
$veryDarkGrayishBlue: #5a636c;
$darkGrayishBlue: #818498;
$grayishBlue: #a7abae;
$white: #fff;
$black: #000;
$lowOpacityPink: #ff746355;
$highOpacityPink: #ff7463;

/*MEDIA QUERY*/

$tableWidth: 1024px;
$mobileWidth: 767px;

@mixin tablet {
  @media (max-width: $tableWidth) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobileWidth) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
section a {
  font-family: $fraunces;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
}

body {
  font-family: $barlow;
}

@mixin col {
  width: 50%;
  align-items: center;
}

@mixin colText {
  padding: 32px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin fiftyBackground {
  background-size: 50% 100%;
  background-repeat: no-repeat;

  @include mobile() {
    background-size: 0;
  }
}

@mixin imgHidden {
  opacity: 0;
  max-width: 100%;
  @include mobile() {
    opacity: 1;
  }
}

@mixin pseudoBackground {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
}

/*GENERAL*/

.threeColumnsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

/*HEADER*/

.headerSection {
  height: 100vh;
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  padding: 32px;
}

header {
  display: flex;
  justify-content: center;

  .container {
    justify-content: space-between;
    align-items: center;

    @include mobile(){
      position: relative;
    }
  }

  .menuWrapper{
    @include mobile(){
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
  
      li:last-child a {
        color: #000;
        font-family: $fraunces;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 48px;
        width: 130px;
        background-color: $white;
        border-radius: 16px;
        transition: 0.5s;
        border: 1px solid $white;
      }
  
      li:last-child a:hover {
        background-color: $lightCyan;
        color: $white;
      }
    }
  
    li {
      margin-left: 48px;
    }
  
    a {
      color: #fff;
    }
  
  
  }

  .menuMobileWrapper{
    display: none;

    @include mobile(){
      display: flex;
      align-items: center;
    }
  }

  #hamburgMenuBtn{
    background-color: transparent;
    padding: 4px;
    border: 0;
  }

  .mobileMenuNavigation{
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    background-color: $white;
    padding: 0 16px;
    z-index: 100;
    transition: 0.5s;
    transform: translateY(-8px);

    &::before{
      content: '';
      position: absolute;
      right: -25px;
      width: 0px;
      height: 0px;
      top: -10px;
      transform: rotate(-90deg);
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid $white;
    }

    a{
      display: flex;
      justify-content: center;
      padding: 16px 0;
      color: $veryDarkGrayishBlue;
      font-size: 18px;
      pointer-events: none;
      z-index: 101;

      .contactSpan{
        padding: 12px 24px;
        background-color: $yellow;
        color: $black;
        border-radius: 20px;
      }
    }

    ul{
      li:first-of-type{
        a{
          padding-top: 32px;
        }
      }

      li:last-of-type{
        a{
          padding-bottom: 32px;
        }
      }
    }
  }
}

/*BANNER*/

.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;

  .container {
    justify-content: center;
    padding-top: 64px;
  }

  h1 {
    font-size: 48px;
    color: $white;
  }

  .arrowDown {
    animation: arrowFloat 1s infinite alternate ease-in-out;
  }
}

section,
footer {
  display: flex;
  justify-content: center;
}

/*Standout and Transform Sections*/

#transform,
#standout {
  @include fiftyBackground;
  padding: 0 32px;

  .firstCol {
    @include colText;
  }

  .firstCol,
  .secondCol {
    width: 50%;
    flex-shrink: 0;

    @include mobile(){
      width: 100%;
      text-align: center;
    }
  }
}

#transform {
  background-image: url(/images/desktop/image-transform.jpg);
  background-position-x: right;

  .firstCol {
    padding-right: 100px;
  }

  .columnLearnMore::after {
    background-color: #fad300a5;
  }

  .columnLearnMore:hover::after {
    background-color: #fad300;
  }

  @include mobile(){
    padding: 0;

    .container{
      flex-direction: column-reverse;
    }

    .firstCol{
      padding: 32px 16px;
    }
  }
}

#standout {
  background-image: url(/images/desktop/image-stand-out.jpg);
  background-position-x: left;
  .container {
    flex-direction: row-reverse;
  }

  .firstCol {
    padding-left: 100px;
  }

  .columnLearnMore::after {
    background-color: $lowOpacityPink;
  }

  .columnLearnMore:hover::after {
    background-color: $highOpacityPink;
  }
}

.columnTextTitle {
  color: $darkDesaturatedCyan;
  font-size: 34px;
  line-height: 1.2em;
  margin-bottom: 32px;
}

.hideImage {
  @include imgHidden();
}

.columnsParagraph {
  font-size: 18px;
  color: $grayishBlue;
  font-weight: 300;
  margin-bottom: 32px;
}

.columnLearnMore {
  color: $darkDesaturatedCyan;
  font-weight: 600 !important;
  border-radius: 32px;
  position: relative;
  padding: 0 10px;
}

.columnLearnMore::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 10px;
  left: 0;
  transition: 0.5s;
  border-radius: 16px;
  z-index: -1;
}

/*SERVICES*/

#services {
  position: relative;

  .container {
    display: flex;
  }

  &:before {
    left: 0;
    background-image: url("/images/desktop/image-graphic-design.jpg");
  }

  &::after {
    right: 0;
    background-image: url("/images/desktop/image-photography.jpg");
  }

  &:before,
  &:after {
    @include pseudoBackground();
  }

  .firstCol,
  .secondCol {
    width: 50%;
    text-align: center;
    padding: 400px 16px 64px;
    color: $servicesTextColor;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    font-family: $barlow;
    span {
      max-width: 328px;
    }
  }
}

#clientTestimonials {
  padding: 128px 32px;

  .container {
    display: block;
  }

  .gridCol {
    text-align: center;
  }
}

.testimonialsTitle {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-family: $fraunces;
  color: $grayishBlue;
  margin-bottom: 64px;
  letter-spacing: 4px;
}

.clientAvatarDiv {
  margin-bottom: 32px;
}

.clientAvatar {
  border-radius: 50%;
  width: 72px;
}

.clientTestimonyParagraph {
  font-size: 18px;
  color: $veryDarkGrayishBlue;
  font-weight: 400;
  margin-bottom: 16px;
}

.testimonyClientName {
  font-size: 20px;
  margin-bottom: 8px;
  color: $black;
  line-height: 1.1em;
  font-family: $fraunces;
}

.clientOccupation {
  font-size: 14px;
  color: $grayishBlue;
}

#imageGallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  line-height: 0;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    width: 100%;
  }
}

footer {
  padding: 64px 32px;
  background-color: $greenBg;
  text-align: center;

  .container {
    display: block;
  }

  .footerMenu {
    margin-bottom: 64px;
  }

  .footerNavigation ul,
  .socialIconsNav ul {
    display: flex;
    justify-content: center;
  }

  .footerNavigation ul {
    gap: 32px;
  }

  .socialIconsNav ul {
    gap: 16px;
  }

  .footerNavigation ul a {
    color: $greenLinksColor;
    transition: 0.5s;
    font-size: 18px;

    @include mobile() {
      font-size: 14px;
    }

    &:hover {
      color: $white;
    }

  }

	.socialIconsNav ul a{
		display: inline-flex;

		img{

			transition: 0.5s;

			&:hover{
				filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(105%) contrast(101%);
			}
		}
	}
}

.attribution{
	padding: 16px;
	background-color: $black;
	color: $darkGrayishBlue;

	a{
		color: #8c0306 ;
		position: relative !important;

		&::before{
			content: '';
			left: 0;
			position: absolute;
			bottom: -1px;
			background-color: #8c0306;
			height: 1px;
			display: inline-flex;
			transition: 0.5s;
			width: 0;
		}

		&:hover{
			&::before{
				width: 100%;
			}
		}
	}
}

.footerLogo {
  filter: brightness(0) saturate(100%) invert(34%) sepia(81%) saturate(308%)
    hue-rotate(118deg) brightness(97%) contrast(84%);
  margin-bottom: 32px;
}
